<div *ngIf="!producto">
    <p>Cargando producto</p>
</div>
<div *ngIf="producto" class="row">
    <div class="col-lg-4" *ngIf="producto.imagen">
        <br>
        <img src="http://localhost/diego/angular4_backend/uploads/{{producto.imagen}}" class="producto_imagen" alt="">
    </div>
    <div class="col-lg-8">
        <h3>{{producto.nombre}}</h3>
        <p>
            <strong>
                {{producto.precio}}
            </strong>
        </p>
        <p>{{producto.descripcion}}</p>
    </div>
</div>